<div class="shop-directive">
    <input
            data-ng-model="searchPhrase[shop.currentSearchBy.name]"
            class="searchPhrase"
            id="searchPhrase"
            placeholder="Search by {{ shop.currentSearchBy.displayName | lowercase }}"
    />

    <div class="select-wrapper">
        Search by:
        <select
                data-ng-model="shop.currentSearchBy"
                id="select_search_by"
                data-ng-init="shop.currentSearchBy = shop.searchByFields[0]"
                data-ng-options="field.displayName for field in shop.searchByFields ">
        </select>
    </div>

    <div class="items-container">

        <!--http://placehold.it/150x150-->
        <div class="shop-item"
             data-ng-repeat="item in filtereditems = (shop.items | filter:{ category: shop.currentCategory.name } | filter:searchPhrase )">
            <div
                    class="zibox"
            >
                <div class="zimage"
                     data-ng-style="{'background-image': 'url(' + item.picture + ')'}"
                     data-ng-click="shop.goToItem(item.id);"
                ></div>
            </div>
                <span class="name">
                    {{ item.name }}
                </span>
                <span class="price">
                    {{ item.price }}{{ item.currency }}
                </span>

                <span class="category">
                    {{ item.category }}
                </span>

                <span class="ship-from">
                    {{ item.ship_from }}
                </span>
                <span class="left">
                    {{ item.left }}
                </span>
                <span class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda blanditiis culpa deleniti deserunt dolore dolorum et fugit itaque, modi quasi quod sapiente, suscipit voluptates!
                </span>

        </div>

        <div class="clear"></div>
    </div>
    <div class="lack-of-items" data-ng-show="!filtereditems.length">Search returns no results</div>
    <div
            class="hamburger"
            data-ng-click="shop.isFade=true"
    ></div>

    <div
            data-ng-class="{ show: shop.isFade, displayhide: !shop.isFade }"
            id="black-fade"
            data-ng-click="shop.isFade = false"
    ></div>
    <div
            class="category-menu"
            data-ng-class="{show: shop.isFade}"
    >
        <span class="text">
            Filter by category
        </span>
        <select
                name="show-filter"
                data-ng-model="shop.currentCategory"
                id="show-filter"
                data-ng-init="shop.currentCategory = shop.categories[0]"
                data-ng-options="category.displayName for category in shop.categories ">
        </select>

    </div>


</div>