<div class="item-details">

    <div class="zibox">
        <div class="image"
             ng-style="{'background-image': 'url(' + itemCtrl.item.picture_large + ')'}"
        ></div>
    </div>

    <div class="container">
        <span class="name" data-ng-bind="itemCtrl.item.name">

        </span>
        <span class="price" data-ng-bind="itemCtrl.item.price + ' ' + itemCtrl.item.currency">
        </span>

        <span class="ship-from" data-ng-bind="itemCtrl.item.ship_from">
        </span>

        <span class="left" data-ng-bind="itemCtrl.item.left">
        </span>

        <span class="producer" data-ng-bind="itemCtrl.item.producer">
        </span>

        <span class="category" data-ng-bind="itemCtrl.item.category">
        </span>

        <div class="back-btn glyphicon glyphicon-chevron-left"
             ng-click="goToHome()"
        >
            <span class="text">Back</span>
        </div>
    </div>
    <div class="clear"></div>
        <span class="desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda blanditiis culpa deleniti deserunt dolore dolorum et fugit itaque, modi quasi quod sapiente, suscipit voluptates!
        </span>



</div>