.item-details {
  padding-top: 50px;
  //transition: opacity 2s;
  //&.ng-enter {
  //  opacity: 0;
  //}
  //&.ng-enter-active {
  //  opacity: 1;
  //}
  //&.ng-enter, &.ng-leave {
  //  background: white;
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  right: 0;
  //}
  //&.ng-enter {
  //  animation: 2s fade-in;
  //  z-index: 100;
  //}
  //
  //&.ng-leave {
  //  animation: 2s fade-out;
  //  z-index:99;
  //}
  .zibox {
    overflow: hidden;
    width: 400px;
    height: 400px;
    float: left;
    .image {
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
      height: 100%;
      background-size: cover;
      transform: scale(1, 1);
      transition: .3s;
      &:hover {
        opacity: .7;
        transform: scale(1.2, 1.2);
      }
    }
  }
  
  .container {
    float: left;
    width: calc(100% - 450px);
    position: relative;

    .back-btn {
      position: absolute;
      right: 0;
      width: 120px;
      //height:50px;
      font-size: 30px;
      cursor: pointer;
      transition: font-size 0.2s, color 0.2s;
      .text {
        display: block;
        float: right;
      }
      &:hover {
        //font-size: 35px;
        color: grey;
      }
    }
  }
  span {
    display: block;
  }

  span:before {
    font-weight: 600;
  }

  .name:before {
    content: "Name: ";
  }

  .price:before {
    content: "Price: ";
  }

  .ship-from:before {
    content: "Shipment from: ";
  }

  .producer:before {
    content: "Producer: ";
  }

  .category:before {
    content: "Category: ";
  }

  .left:before {
    content: "Items left: ";
  }

  .desc {
    padding-top: 15px;
    text-indent: 30px;
  }
}