.item-details {
  padding-top: 50px;
  .zibox {
    float: left;
    height: 400px;
    overflow: hidden;
    width: 400px;
    .image {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      transform: scale(1, 1);
      transition: .3s;
      width: 100%;
      &:hover {
        opacity: .7;
        transform: scale(1.2, 1.2);
      }
    }
  }
  
  .container {
    float: left;
    position: relative;
    width: calc(100% - 450px);

    .back-btn {
      cursor: pointer;
      font-size: 30px;
      position: absolute;
      right: 0;
      transition: font-size 0.2s, color 0.2s;
      width: 120px;
      .text {
        display: block;
        float: right;
      }
      &:hover {
        color: grey;
      }
    }
  }
  span {
    display: block;
  }

  span:before {
    font-weight: 600;
  }

  .name:before {
    content: "Name: ";
  }

  .price:before {
    content: "Price: ";
  }

  .ship-from:before {
    content: "Shipment from: ";
  }

  .producer:before {
    content: "Producer: ";
  }

  .category:before {
    content: "Category: ";
  }

  .left:before {
    content: "Items left: ";
  }

  .desc {
    padding-top: 15px;
    text-indent: 30px;
  }
}